.btn-outline-primary.botonesdemenu{
    font-size: 30px;
    width: 15em;
    margin-top: 1em;
    margin-left: 1em;
}
.navbar-brand.nombredelaaplicacion
{
    padding-left: 12em;
    font-size: 30px;
}

.botonesdelmenudeinicio
{
    display: show;
}